<ion-header>
    <ion-navbar class="rightAlign">
        <button ion-button icon-left round (click)='callSOS()'>
          <ion-icon name="call"></ion-icon>
          SOS
        </button>
    </ion-navbar>
</ion-header>

<ion-content padding class="pageHome">
    <div *ngFor="let item of medicines">
        <ion-card *ngIf="item.dosage_freq === 'daily'">
            <ion-card-content>
                <ion-card-title>
                    {{item.medname}}
                </ion-card-title>
                <ion-row class="medSubRow">
                    Dose Amount : {{item.dosage}}mg
                </ion-row>
                <ion-row class="medSubRow">
                    # of times : {{item.num_dose}}
                </ion-row>
            </ion-card-content>
        </ion-card>
    </div>
    <div *ngIf="medicines.length === 0">
        <h2 class="welcome-header">No Medicines!</h2>
        <p class="welcome-sub"> Looks like you haven't added any medicines, click the below button to add medicines</p>
        <ion-row>
            <ion-col col-2></ion-col>
            <ion-col col-8>
                <button ion-button block (click)="addMeds()">Add Medicines</button>
            </ion-col>
            <ion-col col-2></ion-col>
        </ion-row>
    </div>
</ion-content>